<!-- Modal Nuevo Cliente -->
<div class="modal fade"
     id="newClientModal"
     tabindex="-1"
     aria-hidden="true"
     data-bs-backdrop="static"
     data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo Cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <%= render "clients/form", client: Client.new, form: nil, as_modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" form="new_client" class="btn btn-primary">
          <i class="fas fa-save"></i> Guardar Cliente
        </button>
      </div>
    </div>
  </div>
</div>
