<!-- app/views/document_submissions/error.turbo_stream.erb -->

<%= turbo_stream.append "notifications" do %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <i class="bi bi-exclamation-triangle"></i> 
    <%= error %>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
<% end %>
